<template>
  <div id="app">
    <Header :title="title" />
    <Posts :api-endpoint="apiEndpoint" />
  </div>
</template>

<script>
import Header from "../components/Header";
import Posts from "../components/Posts";

export default {
  components: {
    Header,
    Posts
  },
  data() {
    return {
      apiEndpoint: "https://f7dd2243-a2ed-4647-9dd1-6ac241d0a34a.mock.pstmn.io",
      title: "Willy-tijdlijn"
    };
  }
};
</script>

<style lang="scss">
#app {
  background-color: #ededed;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: grid;
}
</style>
