$default-margin: 1;

$margin-map: (
  "0": 0,
  "4": 4px,
  "8": 8px,
  "12": 12px,
  "16": 16px,
  "24": 24px,
  "32": 32px,
  "64": 64px
);

.m {
  margin: map-get($margin-map, nth(map-keys($margin-map), $default-margin));
  @each $name, $value in $margin-map {
    &-t-#{$name} {
      margin-top: $value;
    }
    &-r-#{$name} {
      margin-right: $value;
    }
    &-b-#{$name} {
      margin-bottom: $value;
    }
    &-l-#{$name} {
      margin-left: $value;
    }
    &-v-#{$name} {
      margin-top: $value;
      margin-bottom: $value;
    }
    &-h-#{$name} {
      margin-left: $value;
      margin-right: $value;
    }
    &-#{$name} {
      margin: $value;
    }
  }
}
