$default-padding: 1;

$padding-map: (
  "0": 0,
  "4": 4px,
  "8": 8px,
  "12": 12px,
  "16": 16px,
  "24": 24px,
  "32": 32px,
  "64": 64px
);

.p {
  padding: map-get($padding-map, nth(map-keys($padding-map), $default-padding));
  @each $name, $value in $padding-map {
    &-t-#{$name} {
      padding-top: $value;
    }
    &-r-#{$name} {
      padding-right: $value;
    }
    &-b-#{$name} {
      padding-bottom: $value;
    }
    &-l-#{$name} {
      padding-left: $value;
    }
    &-v-#{$name} {
      padding-top: $value;
      padding-bottom: $value;
    }
    &-h-#{$name} {
      padding-left: $value;
      padding-right: $value;
    }
    &-#{$name} {
      padding: $value;
    }
  }
}
