<template>
  <div class="comment p-v-8 p-h-16">
    <div class="comment__body" v-text="comment.body" />
    <i
      class="comment__remove fas fa-trash-alt"
      @click.prevent="deleteComment"
    />
  </div>
</template>

<script>
import VueTypes from "vue-types";
export default {
  props: {
    comment: VueTypes.shape({
      id: VueTypes.integer.isRequired,
      postId: VueTypes.integer.isRequired,
      body: VueTypes.string.isRequired,
      added: VueTypes.string.isRequired
    })
  },
  methods: {
    deleteComment() {
      this.$emit("delete", this.comment.id);
    }
  }
};
</script>

<style scoped lang="scss">
.comment {
  background-color: #eee;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  &__remove {
    align-items: center;
    cursor: pointer;
    display: grid;
    &:hover {
      color: $danger-color;
    }
  }
}
</style>
