<template>
  <div class="header p-32">
    <div class="header__section m-l-32 m-t-24 p-v-16 p-h-24">
      <h5 class="header__title" v-text="title" />
    </div>
  </div>
</template>

<script>
import VueTypes from "vue-types";
export default {
  props: {
    title: VueTypes.string.isRequired
  }
};
</script>

<style scoped lang="scss">
.header {
  align-items: center;
  background-color: $main-color;
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  &__section {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    left: 0;
    position: absolute;
    top: 0;
  }
  &__title {
    font-size: 1.25em;
    font-weight: normal;
    color: $main-color;
  }
}
</style>
