<template>
  <div class="post">
    <div class="post__header p-h-24 p-v-16">
      <div class="header__title p-b-8" v-text="post.title" />
      <div class="header__date" v-text="formatDate" />
    </div>
    <div class="post__body  p-b-16 p-h-24 p-t-16" v-text="post.body" />
    <div class="post__comment p-h-24 p-v-16">
      <input v-model="comment" class="comment__input p-v-12 p-h-16" type="text" placeholder="Comment..." @keydown.enter="sendComment" />
      <div v-if="hasComments" class="post__comments p-t-12">
        <p class="comments__title p-b-8">Comments</p>
        <div class="comments">
          <Comment v-for="comment in comments" :key="comment.id" :comment="comment" @delete="deleteComment" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getFormattedDate } from '../helpers/dateFormat'
import { postShape } from '../helpers/post'
import Comment from './Comment'
export default {
  props: {
    post: postShape.loose
  },
  components: {
    Comment
  },
  data() {
    return {
      comment: ''
    }
  },
  computed: {
    formatDate() {
      return getFormattedDate(this.post.added)
    },
    comments() {
      return this.$store.getters['comments/getCommentsForPost'](this.post.id)
    },
    hasComments() {
      return this.comments.length > 0
    }
  },
  methods: {
    sendComment() {
      this.$emit('comment', {
        postId: this.post.id,
        body: this.comment
      })
      this.comment = ''
    },
    deleteComment(payload) {
      this.$emit('deleteComment', payload)
    }
  }
}
</script>

<style scoped lang="scss">
.post {
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  &__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .header {
      &__title {
        font-weight: 500;
      }

      &__date {
        font-size: 0.7em;
        text-align: right;
      }
    }
  }

  &__comment {
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .comment {
      &__input {
        background-color: #eee;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-size: 1em;
        width: 100%;
      }
    }
  }

  &__comments {
    .comments {
      display: grid;
      grid-gap: 12px;

      &__title {
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 845px) {
  .post {
    border-radius: 0;
  }
}
</style>
