<template>
  <div class="posts m-t-64 p-v-16">
    <div class="add-post p-v-16 p-h-24">
      <p class="add-post__header">Add a post</p>
      <input v-model="postTitle" class="add-post__input p-v-12 p-h-16" type="text" placeholder="Title..." />
      <input v-model="postBody" class="add-post__input p-v-12 p-h-16" type="text" placeholder="Message..." />
      <input type="submit" class="add-post__submit p-v-12 p-h-32" value="Add" @click="addPost" />
    </div>
    <Post v-for="post in posts" :key="post.id" :post="post" @comment="addComment" @deleteComment="deleteComment" />
  </div>
</template>

<script>
import axios from 'axios'
import faker from 'faker'
import VueTypes from 'vue-types'

import { getSimpleDate } from '../helpers/dateFormat'

import Post from './Post'

export default {
  props: {
    apiEndpoint: VueTypes.string.isRequired
  },
  data() {
    return {
      api: null,
      postTitle: '',
      postBody: ''
    }
  },
  computed: {
    posts() {
      return this.$store.getters['posts/getPosts']
    }
  },
  components: {
    Post
  },
  created() {
    this.api = axios.create({
      baseURL: this.apiEndpoint,
      headers: {
        'Access-Control-Allow-Origin': '*'
      }
    })
    this.initiatePosts()
    this.initiateComments()
  },
  methods: {
    initiateComments() {
      this.api
        .request({
          method: 'get',
          url: '/comments'
        })
        .then(({ data }) => {
          this.$store.dispatch('comments/setComments', data)
        })
    },
    initiatePosts() {
      this.api
        .request({
          method: 'get',
          url: '/posts'
        })
        .then(({ data }) => {
          this.$store.dispatch('posts/setPosts', data)
        })
    },
    addPost() {
      if (this.postTitle !== '' && this.postBody !== '') {
        const post = {
          id: faker.random.number(),
          title: this.postTitle,
          body: this.postBody,
          added: getSimpleDate()
        }
        this.api
          .request({
            method: 'post',
            url: '/post'
          })
          .then(({ data: { success, message } }) => {
            if (success) {
              this.$store.dispatch('posts/addPost', post)
              this.$message.success(message)
              this.postTitle = ''
              this.postBody = ''
            }
          })
      }
    },
    addComment(comment) {
      this.api
        .request({
          method: 'post',
          url: '/comment',
          comment
        })
        .then(({ data: { success, message } }) => {
          if (success) {
            this.$store.dispatch(
              'comments/addComment',
              Object.assign(
                {
                  id: faker.random.number(),
                  added: getSimpleDate()
                },
                comment
              )
            )
            this.$message.success(message)
          }
        })
    },
    deleteComment(commentId) {
      this.api
        .request({
          method: 'delete',
          url: `/comment/${commentId}`
        })
        .then(({ data: { success, message } }) => {
          if (success) {
            this.$store.dispatch('comments/deleteComment', commentId)
            this.$message.success(message)
          }
        })
    }
  }
}
</script>

<style scoped lang="scss">
.posts {
  display: grid;
  grid-gap: 24px;
  justify-self: center;
  width: 60%;
}

.add-post {
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  grid-gap: 16px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 1em;
  }

  &__input {
    width: 100%;
  }

  &__submit {
    cursor: pointer;
    justify-self: right;
  }

  &__header {
    font-weight: 500;
  }
}

@media screen and (max-width: 845px) {
  .posts {
    width: 100%;
  }
  .add-post {
    border-radius: 0;
  }
}
</style>
